html
  body
    h1 Players
    table.table.table-striped
      tr
        th ID
        th Name
        th Email
        th Wins
        th Losses
        th Created

      each p in players
        tr
          td= p._id
          td= p.name
          td= p.email
          td= p.gameWin
          td= p.gameLost
          td= p.createdAt
          button(type='button' class=' c-btn-blue c-btn-circle c-btn-uppercase' value="Edit" onclick='') Edit
          button(type='button' class=' c-btn-blue c-btn-circle c-btn-uppercase' value="Edit" onclick='') Delete
