

html
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
    block head
  body
    center
      h1 PLAYERS
    table.table.table-striped
      tr
        th ID
        th Name
        th Email
        th Wins
        th Losses
        th Created
        th Action

      each p in players
        tr
          td= p._id
          td= p.name
          td= p.email
          td= p.gameWin
          td= p.gameLost
          td= p.createdAt
          td
            button(type='button' value="p._id" class="btn btn-primary" style="margin-bottom:10px" onclick="edit(\""+p._id+"\");") Edit
            form(method='POST' action='/players/'+p._id+'?_method=DELETE')
              input.form-control(type='hidden', name='_method', value='DELETE')
              button(type='submit' value="p._id" class="btn btn-danger" onclick="supp(\""+p._id+"\");") Delete
  script(src='https://code.jquery.com/jquery-3.2.1.min.js'
         integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4='
         crossorigin='anonymous')

  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'
         integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous')
  script.
    function edit(id) {
      window.location.href = 'http://localhost:3000/players/'+id+'/edit';
    };
