html
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
    block head
  body
    h1 Games
    table.table.table-striped
      tr
        th ID
        th Mode
        th Name
        th Current Player Id
        th Status
        th Created
        th Action

      each g in games
        tr
          td= g._id
          td= g.mode
          td= g.name
          td= g.currentPlayerId
          td= g.status
          td= g.createdAt
          td
            button(type='button' class="btn btn-primary" value="g._id" onclick="edit(\""+g._id+"\");") Edit
            form(method='POST' action='/games/'+g._id+'?_method=DELETE')
              input.form-control(type='hidden', name='_method', value='DELETE')
              button(type='submit' class="btn btn-primary" value="g._id" onclick="supp(\""+g._id+"\");") Delete

    button(type='button' value="getPlayers" onclick="getPlayers()") Show players
    script(src='https://code.jquery.com/jquery-3.2.1.min.js'
           integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4='
           crossorigin='anonymous')

    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'
           integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous')
    script.
      function getPlayers(){
        window.location.href = 'http://localhost:3000/players/';
      };
      function edit(id){
        window.location.href = 'http://localhost:3000/games/'+id+'/edit';
      };
